<section>
	<div class="con about">
		<h1>联系方式</h1>
		
	</div>
	<div class="cont-detail">
		<!-- <div class="about-img"></div> -->
        <div class="msg">
            <div class="msg-rt">
                 <span>总院</span>
                <img src="./海口光华海医口腔门诊 __files/codeimg2.png" title="扫一扫，导航到医院" alt="杭口城西分院地址二维码" class="code-img">
                <p class="code-img-info">手机扫一扫，导航到医院</p>
            </div>
            <div class="msg-lt">
                <p> 门诊时间：8:00 - 12:00&nbsp;&nbsp;&nbsp;13:30 - 17:00 （5 月 - 9 月 下午改为 14:00 - 17:30）<br>
                                                             儿童口腔科：夜门诊至 19:00（寒暑假、节假日除外）<br>
                                                             口腔正畸科：夜门诊至 20:30（寒暑假、节假日除外）</p>
                <p class="tel clearfix"><em></em><span>咨询预约：4009979333&nbsp;&nbsp;&nbsp;</span></p>
                <a href="http://ghhykq.com/map1.html" target="_blank">
                <p class="addr clearfix"><em></em><span>医院地址：海口市龙昆南路 97—1 号乾坤华源大厦（海师大门旁）</span></p>
                </a>
            </div>
        </div>
        <div class="msg">
            <div class="msg-rt">
                <span>海口市美兰院区</span>
                <img src="./海口光华海医口腔门诊 __files/codeimg2.png" title="扫一扫，导航到医院" alt="杭口城西分院地址二维码" class="code-img">
                <p class="code-img-info">手机扫一扫，导航到医院</p>
            </div>
            <div class="msg-lt">
                <p> 门诊时间：8:00 - 12:00&nbsp;&nbsp;&nbsp;13:30 - 17:00 （5 月 - 9 月 下午改为 14:00 - 17:30）<br>
                    儿童口腔科：夜门诊至 19:00（寒暑假、节假日除外）<br>
                    综合一科：8:00 - 20:30（节假日除外）
                </p>
                <p class="tel clearfix"><em></em><span>医院电话：0898-65799958</span></p>
                <a href="http://ghhykq.com/map2.html" target="_blank">
                <p class="addr clearfix"><em></em><span>医院地址：海口市美兰区大致坡镇园林西街 </span>
                </p>
                </a>
            </div>
        </div>
        <div class="msg">
            <div class="msg-rt">
                <span>琼海市加积镇院区</span>
                <img src="./海口光华海医口腔门诊 __files/codeimg2.png" title="扫一扫，导航到医院" alt="杭口城西分院地址二维码" class="code-img">
                <p class="code-img-info">手机扫一扫，导航到医院</p>
            </div>
            <div class="msg-lt">
                <p> 门诊时间：8:00 - 12:00&nbsp;&nbsp;&nbsp;13:30 - 17:00 （5 月 - 9 月 下午改为 14:00 - 17:30）<br>
                    儿童口腔科：夜门诊至 19:00（寒暑假、节假日除外）<br>
                    综合一科：8:00 - 20:30（节假日除外）
                </p>
                <p class="tel clearfix"><em></em><span>医院电话： 0898-36826664</span></p>
                <a href="http://ghhykq.com/map2.html" target="_blank">
                <p class="addr clearfix"><em></em><span>医院地址：琼海市加积镇爱华西路 260 号 </span>
                </p>
                </a>
            </div>
        </div>
        <div class="msg">
            <div class="msg-rt">
                <span>昌江黎族自治县院区</span>
                <img src="./海口光华海医口腔门诊 __files/codeimg2.png" title="扫一扫，导航到医院" alt="杭口城西分院地址二维码" class="code-img">
                <p class="code-img-info">手机扫一扫，导航到医院</p>
            </div>
            <div class="msg-lt">
                <p> 门诊时间：8:00 - 12:00&nbsp;&nbsp;&nbsp;13:30 - 17:00 （5 月 - 9 月 下午改为 14:00 - 17:30）<br>
                    儿童口腔科：夜门诊至 19:00（寒暑假、节假日除外）<br>
                    综合一科：8:00 - 20:30（节假日除外）
                </p>
                <p class="tel clearfix"><em></em><span>医院电话：0898-26635010</span></p>
                <a href="http://ghhykq.com/map2.html" target="_blank">
                <p class="addr clearfix"><em></em><span>医院地址：昌江黎族自治县石碌人民北路 108 号 </span>
                </p>
                </a>
            </div>
        </div>
        
	</div>
</section>