<!-- 医生介绍 -->
<div class="con J_Doctors">
	<h1>医生介绍</h1>
	<div class="doc-lists J_Lists">
		<div class="doc-item">
			<div class="doc-intro clearfix">
				<img alt="医师" src="../images/imgfiles/林典岳.JPG">
				<div class="info">
					<p class="title">集团顾问</p>
					<p class="name">
						林典岳
					</p>
					<p class="spec">
						海南省最早开展矫牙门诊的矫牙专家，	海南省第一位美容牙科教授，	海南省第一位在北京登上全国会议讲台发言的口腔正畸专家
					</p>					
				</div>				
			</div>
			<div class="doc-detail J_Detail">
				<%= doctorDetail %>
			</div>
		</div>

		<div class="doc-item">
			<div class="doc-intro clearfix">
				<img alt="医师" src="../images/imgfiles/林典岳.JPG">
				<div class="info">
					<p class="title">集团顾问</p>
					<p class="name">
						林典岳						
					</p>
					<p class="spec">
						海南省最早开展矫牙门诊的矫牙专家，	海南省第一位美容牙科教授，	海南省第一位在北京登上全国会议讲台发言的口腔正畸专家
					</p>					
				</div>				
			</div>
			<div class="doc-detail J_Detail">
				现任海南医学院口腔医学院教授、主任医师，口腔正畸学教研室主任，口腔医学院副书记，口腔正畸专业委员会全国委员，国际正畸联盟会员，海南医学院口腔正畸学科带头人。毕业于中山医科大学口腔医学系，从事口腔正畸教学、科研和临床工作 30 年，1995-2002 年任海南大学医院院长。已发表论文二十多篇，获得专利 4 项。
			</div>
		</div>
	</div>
</div>