<div class="con about">
	<h1>关于我们</h1>
	<div class="J_AboutCon">
		<h2>光华海医口腔门诊部简介</h2>
		<br>
		<p class="indent strong">海南省最大的口腔门诊部</p>
		<p class="indent">
			海口光华海医口腔门诊部是目前海南省最大的口腔门诊部，面积 1500m², 拥有口腔 CT、德国种植牙系统等现代化设备，也是光华海医口腔连锁总部，为海南医学院创业孵化基地。
		</p>
		<br>
		<p class="indent strong">完善的设备，严格的消毒</p>
		<p class="indent">
			已开业的连锁门诊有：
			<br>
			海口市龙南路 97—1 号乾坤华源大厦（海师大门旁）          4009979333
			<br>
			海口市美兰区大致坡镇园林西街                            0898-65799958
			<br>
			琼海市加积镇爱华西路 260 号                              0898-36826664
			<br>
			昌江黎族自治县石碌人民北路 108 号                        0898-26635010
			<br>
			注：第一个为总部 其他为分部
			<br></p>
		<br>
		<p class="indent strong">门诊部主任介绍</p>
		<p class="indent">
			门诊部主任为原广东省口腔医院口腔内科专家周经涛副主任医师，周主任 2009 年赴德国学习口腔种植技术，2010 年获南方医科大学硕士研究生学位。曾主持广东省卫生厅两项科研课题，发表学术论文十六篇，为南方医科大学客座副教授，2013 年返琼建设家乡。
		</p>
	</div>
</div>
