<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>海口光华口腔门诊</title>
    <meta name="viewport", content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
    <script type="text/javascript" src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" href="../images/favicon.ico" />
</head>

<body>
    <div class="header">
        <div class="top">
            <div class="logo">
                <a href="tooth" >
                    <img src="../images/imgfiles/logo2.png" width="210" height="104" data-bd-imgshare-binded="1"></a>
            </div>
            <div class="nav_box">
                <div class="nav">
                    <ul>
                        <li>
                            <a href="tooth">
                                <img src="../images/imgfiles/nav1.png" data-bd-imgshare-binded="1">
                                <span>网站首页</span>
                            </a>
                        </li>

                        <li>
                            <a href="guide" >
                                <img src="../images/imgfiles/nav2.png" alt="" data-bd-imgshare-binded="1">
                                <span>牙病指南</span>
                            </a>
                        </li>

                        <li>
                            <a href="order" >
                                <img src="../images/imgfiles/nav3.png" alt="" data-bd-imgshare-binded="1">
                                <span>在线预约</span>
                            </a>
                        </li>

                        <li>
                            <a href="medical" >
                                <img src="../images/imgfiles/nav4.png" alt="" data-bd-imgshare-binded="1">
                                <span>特色医疗</span>
                            </a>
                        </li>

                        <li>
                            <a href="doctor" >
                                <img src="../images/imgfiles/nav6.png" alt="" data-bd-imgshare-binded="1">
                                <span>医师团队</span>
                            </a>
                        </li>

                        <li>
                            <a href="hospital" >
                                <img src="../images/imgfiles/nav5.png" alt="" data-bd-imgshare-binded="1">
                                <span>医院介绍</span>
                            </a>
                        </li>

                        <li>
                            <a href="setting" >
                                <img src="../images/imgfiles/nav7.png" alt="" data-bd-imgshare-binded="1">
                                <span>环境设备</span>
                            </a>
                        </li>

                        <li>
                            <a href="branch" >
                                <img src="../images/imgfiles/nav8.png" alt="" data-bd-imgshare-binded="1">
                                <span>分院介绍</span>
                            </a>
                        </li>

                        <li>
                            <a href="skill" >
                                <img src="../images/imgfiles/nav9.png" alt="" data-bd-imgshare-binded="1">
                                <span>技术与培训</span>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>

        <section>
            <%-body -%>
        </section>
        <!-- footer -->
        <div class="footer">
            <div class="foot">
                <div class="fl">
                    <a href="#" target="_blank">企业邮箱</a>
                    |
                    <a href="#" >联系光华</a>
                </div>
                <div class="fr">
                    <p>海口光华海医口腔门诊 版权所有　　　京 ICP 备 05045007 号 京卫计网审【2014】第 0214 号</p>
                </div>
            </div>
        </div>
</body>

</html>