<div class="con">
	<h1>技术与培训</h1>
		<ul class="news_list">
			<li>
				<a href="#" title="" >隐适美最新技术瑞尔香港之行</a>
				<span>2014-11-19</span>
			</li>
			<li>
				<a href="#" title="" >隐适美最新技术瑞尔香港之行</a>
				<span>2014-11-19</span>
			</li>
			<li>
				<a href="#" title="" >隐适美最新技术瑞尔香港之行</a>
				<span>2014-11-19</span>
			</li>
			<li>
				<a href="#" title="" >隐适美最新技术瑞尔香港之行</a>
				<span>2014-11-19</span>
			</li>
			<li>
				<a href="#" title="" >隐适美最新技术瑞尔香港之行</a>
				<span>2014-11-19</span>
			</li>
			<li>
				<a href="#" title="" >隐适美最新技术瑞尔香港之行</a>
				<span>2014-11-19</span>
			</li>

		</ul>

</div>