@charset "utf-8";
body{ 
	margin:0; 
	padding:0;
}
*{ 
	margin:0; 
	padding:0; 
	list-style-type:none; 
	outline:none; 
	border:none; 
	text-decoration:none;
	font-family:"微软雅黑"; 
}
a{ 
	cursor:pointer;
}

.header{ 
	width:100%; 
	min-width:1270px; 
	background: none repeat scroll 0 0 #d9e1e6; 
	height:146px; 
	position:fixed; 
	top:0; 
	width:100%; 
	z-index:9999; 
}
.top{ width:1270px; display:block; overflow:hidden; margin:0 auto; height:146px;}
.top .logo{ display:block; overflow:hidden; float:left; margin-top:25px;}
.top .logo span{ padding-left:20px; background:url(../images/phone.png) no-repeat left center; color:#666; margin-right:10px; margin-top:5px;}
.top .logo span em{color:#055487; font-size:14px; font-weight:bold; margin-left:5px;}
.top .nav_box{ width:1045px; display:block; overflow:hidden; float:right;position:relative;}


/*导航*/
.nav ul li{ width:116px; height:146px; display:block; overflow:hidden; float:left; text-align:center;}
.nav ul li a{ display:block; overflow:hidden; width:109px; padding-right:7px; height:146px;}
.nav ul li a img{ clear:both; margin:57px auto 17px; display:block; overflow:hidden;}
.nav ul li a span{ font-size:16px; color:#003a7e;}

section{
	background-color: #f0f9ff;
	width: 100%;
    min-width: 1270px;
    margin: 0 auto;
    margin-top: 146px;

}
/*banner*/
.carousel{
	width:1280px;
	margin: 0 auto;
}
.carousel-inner .item img{
	width:1280px;
	height:355px;
}


/*首页内容部分main*/
.main_box{width:100%; min-width:1270px;  height:366px;}
.main{ width:1294px; display:block; overflow:hidden; margin:0 auto;}
.main .one{ height:310px; padding:0 8px 19px; display:block; overflow:hidden; float:left; margin:25px 3px 0;}
.main .one h2{ height:47px; width:300px; text-align:center; line-height:47px; color:#fff; font-size:18px; font-family:"微软雅黑"; font-weight:normal; background-color: #222643;}
.main .one .one_cc{ height:260px; display:block; overflow:hidden; width:300px; position:relative;}
.main .one .one_cc i{ width:300px; height:100px; display:block; overflow:hidden;}
.main .one .one_cc i img{ display:block; overflow:hidden; margin:0 auto; margin-top:15px;}
.main .one .one_cc a.more{ display:block; overflow:hidden;  width:136px; height:38px; text-align:center; color:#fff;font:14px/38px "微软雅黑"; position:absolute; left:50%; margin-left:-68px; bottom:17px;}

.main .one .one_cc p{ text-indent:2em; line-height:30px; color:#666; font-size:12px;}
.main .one .one_cc ul li{ width:256px; border-bottom:1px dotted #afafaf; padding:3px 0 0 10px;}
.main .one .one_cc ul li span{ clear:both; display:block; overflow:hidden; font:12px/20px "微软雅黑"; color:#05203e;}
.main .one .one_cc ul li a{ color:#666; font-size:12px; line-height:20px; margin-bottom:3px; display:block; overflow:hidden;}


/*footer*/
.footer{ width:100%; min-width:1270px; height:50px; line-height:50px; font-size:12px; background:#222643;}
.footer .foot{ width:1270px; margin:0 auto; display:block; overflow:hidden;}
.footer .foot .fl{ float:left; display:block; overflow:hidden; color:#fff;}
.footer .foot .fl a,.footer .foot .fr p,.footer .foot .fr p a{ color:#fff;}
.footer .foot .fr{ float:right; display:block; overflow:hidden;}
.footer .foot .fr p{ float:left; display:block; overflow:hidden;}


.doctors{
    width: 960px;
    margin: 0 auto;
}
.doctors h1,.con h1{
  color: #222643;
  font-size: 20px;
  line-height: 1;
  font-weight: normal;
  padding-top: 30px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #b3b3b3;
  margin-bottom: 20px;
}
.doc-lists .doc-item {
    padding-left: 20px;
    padding-right: 50px;
    margin-bottom: 10px;
}
.doc-lists .doc-item .doc-intro {
    padding: 20px 0;
}
.doc-lists .doc-item .doc-intro img {
    width: 100px;
    height: 150px;
}
.doc-lists .doc-item .doc-intro .info {
    margin-left: 20px;
}
.doc-lists .doc-item .doc-intro img, .doc-lists .doc-item .doc-intro .info {
    float: left;
}
.doc-lists .doc-item .doc-intro .info p {
  color: #2a2a2a;
  font-size: 20px;
  padding-bottom: 8px;
}
.doc-lists .doc-item .doc-intro .info p.title {
  font-size: 14px;
  width: auto;
}
.doc-lists .doc-item .doc-intro .info p.name {
  clear: both;
}
.doc-lists .doc-item .doc-intro .info p.name span {
  font-size: 12px;
  color: #696969;
  margin-left: 10px;
}
.doc-lists .doc-item .doc-intro .info p.spec {
  font-size: 12px;
  color: #696969;
  width: 615px;
  overflow: hidden;
}
.doc-lists .doc-item .doc-intro .info p.yq {
  font-size: 12px;
  color: #696969;
  width: 615px;
  overflow: hidden;
}
.doc-lists .doc-item .doc-intro .info a {
  padding-left: 10px;
  width: 50px;
  height: 20px;
  line-height: 20px;
  color: #9da729;
  font-size: 12px;
  display: block;
  background: url(../img/btn.png) no-repeat 0 -51px;
}
.doc-lists .doc-item .doc-intro .info a.hover {
  background-position: -70px -51px;
}
.doc-lists .doc-item .doc-detail {
  border-top: 1px dotted #b3b3b3;
  padding-top: 18px;
  padding-bottom: 30px;
}


/*about cont-detail*/
.cont-detail {
  width: 960px;
  margin: 10px auto;
}
.cont-detail .about-img {
  background: url(../img/about-detial.jpg) no-repeat center;
  width: 960px;
  height: 1046px;
}
.cont-detail .msg {
  overflow: hidden;
  *zoom: 1;
  margin-top: 30px;
  padding-left: 15px;
  padding-bottom: 30px;
  border-bottom: 1px #e0e0e0 solid;
}
.cont-detail .msg .msg-lt {
  float: left;
  width: 620px;
}
.cont-detail .msg-lt p {
  padding: 4px 0;
  font-size: 15px;
  border: 1px solid #e0e0e0;
  line-height: 36px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin-top: 5px;
  color: #454545;
  text-align: left;
  padding-left: 30px;
}
.cont-detail .msg-lt p span {
  text-align: left;
  float: left;
}
.cont-detail .msg-lt p.tel em,
.cont-detail .msg-lt p.addr em {
  display: inline-block;
  height: 36px;
  width: 30px;
  vertical-align: middle;
  float: left;
}
.cont-detail .msg-lt p.tel a {
  color: #66cc00;
}
.cont-detail .msg-lt p.tel em {
  background: url(../img/icons.png) no-repeat 0px -234px;
}
.cont-detail .msg-lt p.addr em {
  background: url(../img/icons.png) no-repeat 0px -277px;
}
.cont-detail .msg-rt {
  float: right;
  text-align: center;
  margin-right: 30px;
  width: 257px;
}
.cont-detail .msg-rt span {
  width: 15px;
  margin: 0 5px;
  display: inline-block;
  float: left;
  color: #66cc00;
  font-weight: bold;
  font-size: 16px;
  margin-right: 35px;
  padding-top: 40px;
}
.cont-detail .msg-rt .code-img {
  float: left;
  width: 202px;
  height: 202px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.cont-detail .msg-rt .code-img-info {
  color: #000;
  font-size: 15px;
  margin-top: 3px;
  margin-left: 55px;
}
.cont-detail .other_yy {
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  padding-left: 30px;
  margin-top: 50px;
  font-weight: bold;
}
.other_yy .other-hospital {
  color: #08c;
}
/*content*/
.con {
  width: 960px;
  margin: 0 auto;
}


/* order */
.appointmentForm {
  border: 1px solid #dfdfdf;
  padding: 60px 0;
}
.step {
  width: 230px;
  height: 32px;
  line-height: 32px;
  background-color: #e2e6ef;
  text-align: center;
  color: #2a2a2a;
  margin-left: 9px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.step.current {
  background-color: #c3d133;
  color: #fff;
  margin-left: 0;
}
.formItemIndent {
  padding-left: 140px;
  color: #696969;
  line-height: 50px;
}
.formItem {
  color: #696969;
  line-height: 50px;
}

.formItem label{
  font-weight: 400;
}
.formItem-key {
  width: 140px;
  text-align: right;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.formItem-value {
  vertical-align: top;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 800px;
}
.formItem-value label {
  display: inline-block;
  _margin: 18px 0;
}
.formItem-value input[type="checkbox"] {
  height: 14px;
}
.J_SelectIcon {
  left: 220px;
}
.J_BranchIcon {
  left: 452px;
  display: none;
}
.J_DepartmentIcon {
  left: 680px;
  display: none;
}
.relativeCon .J_SelectIcon {
  left: 390px;
}
/* input */
.formInput {
  border: 1px solid #d4d4d4;
  width: 268px;
  height: 34px;
  padding: 2px 5px;
  line-height: 34px;
}
.formInput:focus {
  border-color: #c3d133;
}
.formTextarea {
  border: 1px solid #d4d4d4;
  padding: 2px 5px;
  vertical-align: top;
}
.formTextarea:focus {
  border-color: #c3d133;
}

/* hospital */
.about h2 {
  color: #696969;
  line-height: 45px;
  font-size: 18px;
  text-indent: 28px;
}
.about p {
  color: #696969;
  line-height: 35px;
}
.indent {
    text-indent: 2em;
}
.strong {
    font-weight: bold;
}
/*setting*/
.setting_item img{
  width: 960px;
}

/*skill*/
.news_list {
    width: 960px;
    display: block;
    overflow: hidden;
    margin: 20px 0;
}
.news_list li {
    width: 960px;
    display: block;
    overflow: hidden;
    border-bottom: 1px dotted #a9a9a9;
    line-height: 40px;
    font-size: 14px;
}
.news_list li a {
    background: url(../images/imgfiles/la_bg.png) no-repeat 10px center;
    padding-left: 25px;
    color: #666;
    float: left;
}
.news_list li span {
    float: right;
    margin-right: 30px;
    color: #666;
}